Django>=4.2,<5.0
Pillow>=10.0.0
dependency-check==0.6.0
pylint==2.17.5
djangorestframework==3.16.0
psycopg2-binary==2.9.10
requests==2.32.3
django-extensions==3.2.3
pytest==7.4.3
pytest-django==4.5.2
pycodestyle==2.11.0